*.rs linguist-detectable=true
*.ts linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.rs linguist-language=Rust
dist/* linguist-generated=true
